<div class="jumbotron">
  <h1>Welcome to, Flatiron Amusement Park</h1>
  <h2>Powered by Rails</h2>
  <p>Sign Up to enjoy the rides</p>
  <p><a class="btn btn-success btn-lg" href="<%= signup_url %>" role="button">Sign Up</a></p>
</div>
